<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="A layout example that shows off a responsive product landing page.">
      <title>SoundLocal</title>
	  <link href='http://fonts.googleapis.com/css?family=Jura:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

      <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
      <!--<![endif]-->
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!--[if lte IE 8]>
      <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="css/layouts/marketing.css">

      <!--<![endif]-->
   </head>
   <body>
      <div class="header">
         <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <!-- <a class="pure-menu-heading" href="">SoundLocal</a> -->
         </div>
      </div>
      <div class="splash-container">
         <div class="splash" id="spl">
            <h1 class="splash-head">SoundLocal</h1>
            <p class="splash-subhead">
               Enter the URL of SoundCload playlist!
            </p>
            <form class="pure-form">
               <input type="text" name="url" id="url" /><br />
               <a href="#" class="pure-button pure-button-primary" id="submit">Localify</a>
            </form>
			<table class="pure-table tbl">
				<thead>
				<tr>
					<th width="1">#</th>
					<th>Title</th>
					<th width="25%">Status</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
         </div>
      </div>
     
         <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
         <script src="/socket.io/socket.io.js"></script>
		<script>
		</script>
         <script type="text/javascript">
         $(function () {
         	var N = 0;
		  	var socket = io();
         	$("#submit").click(function (e) {
         		e.preventDefault();
         		socket.emit('url', $("#url").val());
 				$("#spl").animate({'height': '100%'});
 				$("form").slideUp();
 				$(".splash-subhead").html('<i class="fa fa-spinner fa-pulse"></i> <span id="spin-text">Please wait!</span>');

         		socket.on('list', function (data) {
     				var ind = 0;
     				$(".tbl").show();
     				data.forEach(function (e) {
     					var i = '<tr id="item_' + e.permalink + '">\
     								<td>' + (++ind) + '</td>\
     								<td>' + e.title + '</td>\
     								<td class="status"><i class="fa fa-spinner fa-pulse"></i> Downloading<div class="prog"></div></td>\
     							</tr>';
     					$(".tbl").find("tbody").append(i);
     				});
     				N = data.length;
         		});
         		var dld = 0;
         		socket.on('downloaded', function (d) {
         			$("#item_"+d).find('.status').html('<i class="fa fa-check"></i> Downloaded!<div class="prog" style="width: 119%;"></div></td>');
         			dld++;
     				$("#spin-text").html('Downloading ... ' + dld + "/" + N);

         		});

         		socket.on('startzip', function () {
 					$(".splash-subhead").slideUp(function () {
 						$(this).html('<i class="fa fa-spinner fa-pulse"></i> <span id="spin-text">Attaching ID3 Tags!</span>').slideDown();
 					});
         		});

         		socket.on('fin', function (data) {
         			$(".splash-subhead").slideUp(function () {
 						$(this).html('<a class="dl" href="'+data+'"><i class="fa fa-cloud-download"></i> Click to Download!</a>').slideDown();
 					});
         		});

         		socket.on('stat', function (mp) {
         			for (var m in mp) {
         				var perc = 0;
         				if (mp[m].total != 0) perc = Math.round(mp[m].current/mp[m].total*119);
         				$("#item_" + m).find(".prog").css({'width': perc+'%'});
         			}
         		})
         		var atts = 0;
         		socket.on('attached', function (att) {
         			console.log(att);
         			atts++;
         			$("#item_" + att).find(".prog").css({'color': 'green'});
         			$("#spin-text").html('Attaching ID3 Tags! ' + atts + "/"+N);
         		});

         		socket.on('err', function () {
         			$(".splash-subhead").html("Something went wrong!!");
         		})

         	})
         })

         </script>
   </body>
</html>