<!DOCTYPE html>
<html>
  <head>
    <title>SoundLocal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form action="/" method="post">
  		<input type="text" name="url" />
  	</form>
  </body>
</html>
